{% extends "dalle_api_js/layout.html" %}
{% settings_VERSION_CACHE_BUST as VERSION_CACHE_BUST %}
{% assign "?" as QM %}{% comment %} suppress url percent encoding "?" to "%3F" {% endcomment %}
{% load static %}
{% static "" as staticTag %}
{% cacheBusterFileNames as CB %}
{% load bootstrap4 %}
{% load dalle_api_js_tags %}

{% block css %}
	<link rel="stylesheet" href="{{ staticTag }}{{ CB.dalle_api_js_css }}">
{% endblock %}

{% comment %}
    DALLE API accessed using (mostly) javascript, i.e. the Python openai module is not used.
    THIS IS NOT HOW I WANT TO ACCESS CHATGPT OR DALLE APIs, NORMALLY, BUT A GOOD EXERCISE TO INVESTIGATE
    HOW (I ASSUME) PYTHON openai MODULE WORKS UNDER THE HOOD. 11/15/23
{% endcomment %}

{% block chatgpt_api_content %}
	<div class="chat-container">
        <div class="d-flex justify-content-center">
            <a href="{% url 'home-no-redirects' %}"
                    class="badge badge-primary mx-0 my-2 p-2"
                    tabindex="-1" role="button">
                <span class="m-0 p-0"
                    onmousedown="{% include '_inline_js_hndlr_span_mousedown.html' %}"
                    onkeydown="{% include '_inline_js_hndlr_span_anchor_keydown.html' %}"
                    onfocus="{% include '_inline_js_hndlr_span_focus.html' %}"
                    onblur="{% include '_inline_js_hndlr_span_blur.html' %}"
                    tabindex="0">Back to Main Page</span></a><br>
        </div>

        <header>
            <h1>AI Image Generator</h1>
        </header>

        <section class="recents">
            <h2>R E C E N T</h2>
            <ul></ul>
        </section>

        <main></main>

        {% comment %}
            "API key" Form: Securely send my OpenAI API key to dalle_api_js.js.
            Hidden form to allow Django to send API key to JavaScript. This form is NOT part of the original
            Treehouse example video. It is security trick to hide API key (in LOCAL js variable). 11/16/23
        {% endcomment %}
        <form method="POST" action="{% url 'dalle_api_js:dalle_api_js_test1' %}" style="display: none;">
            {% csrf_token %}
            <input type="submit">
        </form>

        {% comment %}
            Prompt Form(????????????????: Where user enters prompt for DALLE(?) AI image generator
            THIS IS THE FORM FROM ORIGINAL TREEHOUSE VIDEO. Adapted for a Django template (WHICH requires a
            Django view and form and csrf token in order to not crash to browser. 11/16/23
        {% endcomment %}
        <form>
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="text" id="prompt" placeholder="Generate an image with AI">
            <button>generate</button>
        </form>

        <script>
            iconStr = "{{ staticTag }}img/icon/chatgpt-icon-150x150.png{{ QM }}{{ VERSION_CACHE_BUST }}";
        </script>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ staticTag }}{{ CB.dalle_api_js_js }}" defer></script>
{% endblock %}
