{% extends "layout.html" %}
{% block body_content %}
	<div class="jumbotron jumbotron-fluid mb-0 pt-0 pb-0" style="min-height: 100vh; background-color: #444B59;"
            id="skip-link-main-content">
		<div class="p-0 m-0 text-center text-dark" role="banner" style="background-color: Linen;">
			<p class="display-4 py-4" style="background-color: #444B59;">
                <span class="font-italic text-light">OpenAI Experiments</span>
            </p>
			{% spaceless %}
            {% comment %}
                As of Oct 2023 ai9sky project does not authenticate users. 10/28/23
                { % if request.user.is_authenticated % }
            {% endcomment %}

            <a href="{% url 'chatgpt_api_js:chatgpt_api_js_test1' %}"
                    class="badge badge-dark mx-0 my-1 p-1 " id="id_chatgpt-api-js-app-btn"
                    tabindex="-1" role="button">
                <span class="m-0 p-0"
                    onmousedown="{% include '_inline_js_hndlr_span_mousedown.html' %}"
                    onkeydown="{% include '_inline_js_hndlr_span_anchor_keydown.html' %}"
                    onfocus="{% include '_inline_js_hndlr_span_focus.html' %}"
                    onblur="{% include '_inline_js_hndlr_span_blur.html' %}" tabindex="0">
                        <span style="color: Yellow;">ChatGPT</span>: JavaScript (Not Python OpenAI Library)
                        <span style="color: Yellow;">(chatgpt_api_js)</span></span></a><br>

            <a href="{% url 'dalle_api_js:dalle_api_js_test1' %}"
                    class="badge badge-dark mx-0 my-2 p-1" id="id_dalle-api-js-app-btn"
                    tabindex="-1" role="button">
                <span class="m-0 p-0"
                    onmousedown="{% include '_inline_js_hndlr_span_mousedown.html' %}"
                    onkeydown="{% include '_inline_js_hndlr_span_anchor_keydown.html' %}"
                    onfocus="{% include '_inline_js_hndlr_span_focus.html' %}"
                    onblur="{% include '_inline_js_hndlr_span_blur.html' %}"  tabindex="0">
                        <span style="color: Yellow;">DALLE (Images)</span>: JavaScript (Not Python OpenAI Library)
                        <span style="color: Yellow;">(dalle_api_js)</span></span></a><br>

            <a href="{% url 'chatgpt_api_py:chatgpt_api_py_test1' %}"
                    class="badge badge-dark mx-0 my-2 p-1" id="id_chatgpt-api-py-app-btn"
                    tabindex="-1" role="button">
                <span class="m-0 p-0"
                    onmousedown="{% include '_inline_js_hndlr_span_mousedown.html' %}"
                    onkeydown="{% include '_inline_js_hndlr_span_anchor_keydown.html' %}"
                    onfocus="{% include '_inline_js_hndlr_span_focus.html' %}"
                    onblur="{% include '_inline_js_hndlr_span_blur.html' %}"  tabindex="0">
                        <span style="color: Yellow;">ChatGPT</span>: Python OpenAI Library
                        <span style="color: Yellow;">(chatgpt_api_py)</span></span></a><br>

            <a href="{% url 'dalle_api_py:dalle_api_py_test1' %}"
                    class="badge badge-dark mx-0 my-2 p-1" id="id_dalle-api-py-app-btn"
                    tabindex="-1" role="button">
                <span class="m-0 p-0"
                    onmousedown="{% include '_inline_js_hndlr_span_mousedown.html' %}"
                    onkeydown="{% include '_inline_js_hndlr_span_anchor_keydown.html' %}"
                    onfocus="{% include '_inline_js_hndlr_span_focus.html' %}"
                    onblur="{% include '_inline_js_hndlr_span_blur.html' %}"  tabindex="0">
                        <span style="color: Yellow;">DALLE (Images)</span>: Python OpenAI Library
                        <span style="color: Yellow;">(dalle_api_py)</span></span></a><br>
            {% endspaceless %}
		</div>
	</div>
{% endblock %}

