{% extends "dalle_api_py/layout.html" %}
{% settings_VERSION_CACHE_BUST as VERSION_CACHE_BUST %}
{% assign "?" as QM %}{% comment %} suppress url percent encoding "?" to "%3F" {% endcomment %}
{% load static %}
{% static "" as staticTag %}
{% cacheBusterFileNames as CB %}
{% load bootstrap4 %}
{% load dalle_api_py_tags %}

{% block css %}
	<link rel="stylesheet" href="{{ staticTag }}{{ CB.dalle_api_py_css }}">
{% endblock %}

{% comment %}
    ChatGPT API accessed using Python library module openai.
{% endcomment %}

{% block chatgpt_api_content %}
    <div class="chat-container">
        <div class="d-flex justify-content-center my-2">
            <a href="{% url 'home-no-redirects' %}"
                    class="badge badge-primary mx-0 my-2 p-2"
                    tabindex="-1" role="button">
                <span class="m-0 p-0"
                    onmousedown="{% include '_inline_js_hndlr_span_mousedown.html' %}"
                    onkeydown="{% include '_inline_js_hndlr_span_anchor_keydown.html' %}"
                    onfocus="{% include '_inline_js_hndlr_span_focus.html' %}"
                    onblur="{% include '_inline_js_hndlr_span_blur.html' %}"
                    tabindex="0">Back to Main Page</span></a><br>
        </div>

        <header>
            <h1>AI Image Generator</h1>
        </header>

        <section class="recents">
            <h2>R E C E N T</h2>
            {% comment %} Dynamically rendered by javascript, handleRecents() {% endcomment %}
            <ul></ul>
        </section>

        <main>
            {% comment %} Dynamically rendered by javascript, handleImage() {% endcomment %}
        </main>

        {% comment %}
            Prompt Form: Where user enters prompt for DALLE AI image generator.
            THIS IS THE FORM FROM ORIGINAL TREEHOUSE VIDEO. Adapted for a Django template (WHICH requires a
            Django view and form and csrf token in order to not crash to browser. 11/18/23
        {% endcomment %}


        <div>  <!-- ################### new div: SHOULD id="prompt-form" go here instead ????? -->

{#        <form id="prompt-form"  action="{ % url 'dalle_api_py:dalle_api_py_test1' % }" class="mt-1">#}<!-- ######### move id prompt-form -->
        <form method="POST" id="prompt-form" action="{% url 'dalle_api_py:dalle_api_py_test1' %}" class="mt-1">
            {% csrf_token %}
            {% comment %} Django form convention doesn't apply, but other apps use this: id_prompt {% endcomment %}
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="text" id="id_prompt" class="px-2 py-1" placeholder="Generate an image with AI">
{#            <button>generate</button>#}  <!-- ########## DEBUG, TEMP REMOVE THIS BUTTON -->
        </form>

        </div>


        <script>
            prompt_value = "{{ prompt }}";
            img_url = "{{ image_url }}";
        </script>
    </div>
{% endblock %}

{% block javascript %}
	<script src="{{ staticTag }}{{ CB.dalle_api_py_js }}" defer></script>
{% endblock %}
