{% extends "dalle_api_py/layout.html" %}
{% settings_VERSION_CACHE_BUST as VERSION_CACHE_BUST %}
{% assign "?" as QM %}{% comment %} suppress url percent encoding "?" to "%3F" {% endcomment %}
{% load static %}
{% static "" as staticTag %}
{% cacheBusterFileNames as CB %}
{% load bootstrap4 %}
{% load dalle_api_py_tags %}

{% block css %}
	<link rel="stylesheet" href="{{ staticTag }}{{ CB.dalle_api_py_css }}">
{% endblock %}

{% comment %}
    ChatGPT API accessed using Python library module openai.
{% endcomment %}

{% block chatgpt_api_content %}
    <div>







        <script>
            prompt_value = "{{ prompt }}";
            img_url = "{{ image_url }}";
        </script>
    </div>
{% endblock %}

{% block javascript %}
	<script src="{{ staticTag }}{{ CB.chatgpt_api_py_js }}" defer></script>
{% endblock %}
